*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: auto 0px;
    padding: 0px;
}

.navbar {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: #787878;
}

.nav-link:hover {
    color: #6e0ad6;
}

.nav-btn {
    background-color: #6e0ad6;
    color: white;
    width: 100px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.nav-btn:hover {
    color: white;
    background-color: #703fa3;
}

.nav-btn-login{
    background-color: white;
    color: black;
    border: 0.2px solid black;
    width: 100px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.nav-btn-login:hover {
    border: 2px solid black;
}

.bi {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:0px;
}

row {
    margin: auto 0px;
    padding: auto 0px;
}

#col-section{
    margin-left: 0px;
}

#img-sec {
    width: 705px;
    height: 610px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 48px;
}

#input-section {
    margin-top: 10px;
    margin-left: 80px;
}

h2 {
    font-size: 30px;
}

h3{
    font-size: 20px;
    color: #787878; 
    padding-top: 10px;  
}

h4 {
    margin-top: 30px;
    font-size: 18px;
    color: #3c4453;
}

.btn-sec {
    width: 140px;
    height: 40px;
    background-color: #6e0ad6;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.btn-sec:hover {
    color: white;
    background-color: #590bab;
}

input {
    outline: none;
    border: none;
}

.multi-selector {
    width: max-content;
}

.select-field {
    border: 1px solid rgb(187, 187, 187);  
    border-radius: 12px;
}

.select-field2 {
    border: 1px solid rgb(187, 187, 187);  
    border-radius: 12px;
}

.select-field,
.task,
.list {
    width: 100%;
    background-color: white;
    padding: 0.3rem;
}

.select-field2,
.list2 {
    width: 100%;
    background-color: white;
    padding: 0.3rem;
}

.list {
    box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
    display: none;
}

.list2 {
    box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
    display: none;
}

.down-arrow {
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
}

.down-arrow2 {
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
}

.task {
    display: block;
    padding-left: 0;
    align-items: flex-start;
}

.task:hover {
    background-color: aliceblue;
}

.show {
    display: block;
    align-items: flex-start;
}

.rotate180 {
    transform: rotate(-60deg);
}

.rotate180-two {
    transform: rotate(-60deg);
}

.btn-search {
    font-size: 18px;
    font-weight: 500;
    color: white;
    width: 460px;
    height: 45px;
    border-radius: 12px;
    margin-top: 20px;
    align-items: center;
    background-color: #FF5E00;

}

.btn-search:hover {
    color: white;
    background-color: #e75f0f; 
}

.input-selector {
    width: 420px;
}

/* Página de imóvel */
#section-infos {
    margin-left: 60px;
}

.row-descricao {
    align-items: center;
    justify-content: center;
}

#img-maps {
    height: 400px;
    width: 710px;
    border-radius: 24px;
    border: 1px solid #787878;
}

#img-imovel {
    height: 400px;
    width: 710px;
    border-radius: 24px;
    border: 1px solid #787878;
    margin-left: 20px;
}

.row-imovel {
   margin-top: 40px;
}

#titulo-anuncio {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 500;
}

#localizacao-anuncio {
    font-size: 20px;
    font-weight: 400;

}

.bi-geo-alt {
 color: red;
}

#div-btn {
  align-items: center;
}

#descricao-anuncio {
    color: #3c4453;
    font-size: 24px;
    font-weight: 600;
}

.btn-descricao {
    background-color: #590bab;
    color: white;
}

#btn-fav {
    display: block;
    margin-bottom: 40px;
    margin-left: 200px;
}

#btn-fav:hover{
    background-color:#8a37e9;
    color: white;
}

#btn-share {
    display: block;
    margin-left: 185px;
}

#btn-share:hover{
    background-color:#8a37e9;
    color: white;
}